.wrapper {
    background-color: white;
    overflow-x: hidden;
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 50px;
    box-sizing: border-box;
}
    
.header {
      z-index:9999;
      background-color: #003c88;
      height: 70px;
      display: flex;
      justify-content: space-between;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
}

.user_nav.grid-6 {   
    margin: 15px 10px 10px 0;
}

.footer {
     display: flex;
     justify-content: space-between;
     background-color: #003c88;
     text-align: center;
     font-size: 15pt;
     color: white; 
     width: 100%;
     padding: 20px;
     bottom: 0;
     position: absolute;
}

.kanri {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 15pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  padding       : 12px 30px;   /* 余白       */
  background    : black;     /* 背景色     */
  color         : white;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  cursor        : pointer;     
  border        : none;    
  text-decoration: none;
  margin-right: 30px;
}
    
p.admin {
    margin-top:auto;
    margin-bottom:auto;
    margin-left:570px;
}
    
.image {
    height: 300px;
    width: 100%;
    background-image: url(honkan.jpg);
    background-size: cover;
    background-position: center;
}

.albaito {
    color: white;
    font-size: 40px;
    padding-top: 230px;
    margin-left: 30px;
}

.contents.row {
    width: 1100px;
    margin: 50px auto 80px auto;
    
}
    
.allrow {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-bottom:30px;
    border: solid 3px #6091d3;
}
    
.content_post {
    padding: 30px 25px;
    height :90px;
}

.icons {
    margin-bottom: 18px;
}

.name {
  display       : inline-block;         /* 角丸       */
  font-size     : 12pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  font-weight: bold;     /* 背景色     */
  color         : black;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */   
  border        : none;    
  margin-left  :10px;
  margin-right :10px;
}

.school {
  display       : inline-block; 
  font-weight :bold;/* 角丸       */
  font-size     : 20pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   *//* 余白       */ /* 背景色     */
  color         : #6091d3;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */   
  border        : none;    
  margin-left  :10px;
  text-decoration: underline
}

.bikou {
  display       : inline-block;       /* 角丸       */
  font-size     : 12pt;   
  font-weight :bold;/* 文字サイズ */
  text-align    : center;      /* 文字位置   */  /* 余白       */    /* 背景色     */
  color         : black;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */   
  border        : none;  
  margin-top: 20px;
  margin-left  :10px;
}

.oubo {
  display       : inline-block;
  height: 120px;
  width: 120px;
  line-height: 120px;
  border-radius : 5%;          /* 角丸       */
  font-size     : 20pt;        /* 文字サイズ */
  margin: auto 50px;
  text-align    : center;      /* 文字位置   */
  background    : #003c88;     /* 背景色     */
  color         : white;     /* 文字色     */
  border        : none;   
  text-decoration: none;
}
.oubo:hover {
  opacity: 0.5;
}

.oubos{
  display       : inline-block;
  height: 120px;
  width: 120px;
  line-height: 120px;
  border-radius : 5%;          /* 角丸       */
  font-size     : 20pt;        /* 文字サイズ */
  margin: auto 50px;
  text-align    : center;      /* 文字位置   */
  background    : #003c88;
  opacity: 0.5;/* 背景色     */
  color         : white;     /* 文字色     */
  border        : none;   
  text-decoration: none;
}

.oubom{
  display       : inline-block;
  height: 120px;
  width: 120px;
  line-height: 120px;
  border-radius : 5%;          /* 角丸       */
  font-size     : 20pt;        /* 文字サイズ */
  margin: auto 50px;
  text-align    : center;      /* 文字位置   */
  background    : #003c88;
  color         : white;     /* 文字色     */
  border        : none;   
  text-decoration: none;
}

.ouboxx {
    display: flex;
  justify-content: center;
  align-items: center;
}

.oubox {
  display       : inline-block;
  height: 50px;
  width: 120px;
  line-height: 50px;
  border-radius : 5%;          /* 角丸       */
  font-size     : 20pt;        /* 文字サイズ */
  padding: 0 10px;
  margin-right: 50px;
  text-align    : center;      /* 文字位置   */
  background    : #003c88;     /* 背景色     */
  color         : white;     /* 文字色     */
  border        : none;   
  text-decoration: none;
}
.oubox:hover {
  opacity: 0.5;
}

.oubox.neo{
    margin-top:20px;
}
    
.touroku {
    width: 500px;
    margin: 80px auto 80px auto;
    background-color: white;
    padding: 20px 20px;
    border: solid 3px #6091d3;
    color         : #6091d3;   
    font-weight: bold;
}

.touroku.next{
    text-align    : center;    
}

.label {
    font-size: 20pt;
    margin-right: 20px
}

.kensaku{
    margin: 20px 0 auto 40px;
    height:30px;
    width: 200px;
    font-size: 10pt;
}

.kenbtn{
  margin-top: 20px;
  display       : inline-block;
  height: 30px;
  width: 50px;
  line-height: 30px;
  border-radius : 5%;          /* 角丸       */
  font-size     : 10pt;        /* 文字サイズ */
  padding: 0 10px;
  text-align    : center;      /* 文字位置   */
  background    : black;     /* 背景色     */
  color         : white;     /* 文字色     */
  border        : none;   
  text-decoration: none;
}
.kenbtn:hover {
  opacity: 0.5;
}

.box{
    height:50px;
    width: 350px;
    font-size: 20pt;
}

.boxx{
     height:50px;
    width: 400px;
    font-size: 20pt;
}

.boxy{
    height:200px;
    width: 480px;
    font-size: 20pt;
    resize: none;
}

.post {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 15pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  padding       : 12px 30px;   /* 余白       */
  background    : black;     /* 背景色     */
  color         : white;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  cursor        : pointer;     
  border        : none;    
  text-decoration: none;
  margin-right :50px;
}
.post:hover {
  opacity: 0.5;
}

.postx {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 15pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  padding       : 12px 30px;   /* 余白       */
  background    : #003c88;     /* 背景色     */
  color         : white;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  cursor        : pointer;     
  border        : none;    
  text-decoration: none;
  margin-left:200px;
}
.postx:hover {
  opacity: 0.5;
}

.postxx {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 15pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  padding       : 12px 30px;   /* 余白       */
  background    : #003c88;     /* 背景色     */
  color         : white;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  cursor        : pointer;     
  border        : none;    
  text-decoration: none;
}
.postxx:hover {
  opacity: 0.5;
}

.actions {
    margin-bottom: 10px;
}

.contents.grids {
    width: 900px;
    margin: 50px auto 80px auto;
}

.allgrid{
  font-size: 0;
}

.grid{
    display       : inline-block;
    text-align    : center;    
    line-height  : 60px;
    height:60px;
    width: 290px;
    font-size: 20pt;
    border: solid  #6091d3;
    vertical-align: bottom; 
}

.delete {
  display       : inline-block;
  height: 50px;
  width: 120px;
  line-height: 50px;
  border-radius : 5%;          /* 角丸       */
  font-size     : 20pt;        /* 文字サイズ */
  padding: 0 10px;
  text-align    : center;      /* 文字位置   */
  background    : #003c88;     /* 背景色     */
  color         : white;     /* 文字色     */
  border        : none;   
  text-decoration: none;
}
.delete:hover {
  opacity: 0.5;
}

.modoru{
  margin-top:10px;
}